# Lottery Addict Mobile App  
The aim in this project is to support a team of engineers and developers, that are create a mobile app to discourage lottery addict, to define the logical core of the App.

The app would be able to answer probalistic questions that should discourage gampling actvities. For example:
 * What is the probability of winning the big prize with a single ticket?
 * What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
 * What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [82]:
# to import the pandas and NumPy libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from decimal import Decimal


# So notebook displays multiple outputs at the same time
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Increase display output for rows and columns
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 500

In [2]:
# Write a function for factorial
def factorial(n):
    result = 1
    for i in range(n, 0, -1):
        result *= i
    return result

# Write a fuction for combinations
def combination(n, k):
    result = factorial(n)/(factorial(k)*factorial(n-k))
    return result

In [3]:
# write fuction that gives probability of wining the big prize with one ticket
def one_ticket_probability(six_dig_lst):
    total_outcomes = combination(49, 6)
    prob_1_ticket = 1/total_outcomes
    return print("Don't do it!!! You have less that a 1 in a Billion chance of wining the big price with {}.".format((', '.join(map(str,six_dig_lst)))))

In [4]:
# Test one_ticket _probability function
one_ticket_probability([17,7,25,30,14,9])

Don't do it!!! You have less that a 1 in a Billion chance of wining the big price with 17, 7, 25, 30, 14, 9.

In [5]:
1/combination(49, 6)

7.151123842018516e-08

For everyone that tries to win the big price with one ticket, they only have a '7.151123842018516e-06' chance to winning. To make this value more comprehensible to a layman, it has been translated as 'less that a 1 in a billion chance of winning'.

In [50]:
# Read in csv data 
lottery_data = pd.read_csv('Downloads/Guided Project_ Mobile App for Lottery Addiction/649.csv', low_memory = False)
lottery_data.shape
lottery_data.head(3)
lottery_data.tail(3)

# set(lottery_data.iloc[:,4:10].head(1).values.tolist()[0])
# set(lottery_data.iloc[0, 4:10].values.tolist())

(3665, 11)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

{3, 11, 12, 14, 41, 43}

In [56]:
# Write a function named extract_numbers() that takes as input a row of the 
# lottery dataframe and returns a set containing all the six winning numbers.
def extract_numbers(df):
    result = set(df.iloc[4:10].values.tolist())
    return result

# Extract the winning sets from the historical data
winning_sets = lottery_data.apply(extract_numbers, 1)

# write fuction to check historical winning data for users' ticket set
def check_historical_occurence(user_number_lst, historical_winning_sets):
    user_set = set(user_number_lst)
    boolean_check = winning_sets == user_set
    match  = sum(boolean_check)
    prob_win = match/len(historical_winning_sets)
    perc_prob_win = prob_win*100
    return print('Your numbers have won the big prize {} time(s) in the past. Based on this, you have a {}% to win the big prize'.format(match, perc_prob_win))

# Test function using set that is among the historical winning set
check_historical_occurence([41,3,11,12,43,14], winning_sets )

Your numbers have won the big prize 1 time(s) in the past. Based on this, you have a 0.027285129604365622% to win the big prize

In [293]:
def multi_ticket_probability(number_of_tickets):
    total_outcomes = combination(49, 6)
    prob_multi_tickets = number_of_tickets/total_outcomes
    if prob_multi_tickets == 1:
        exponent = int(math.log10(prob_multi_tickets))
        tot_comparison = 10**abs(exponent)
        value_comparison = "{:.10f}".format(float(prob_multi_tickets))[abs(exponent)]
    else:  
        exponent = int(math.log10(prob_multi_tickets))-1
        tot_comparison = 10**abs(exponent)
        value_comparison = "{:.{}f}".format(float(prob_multi_tickets),(abs(exponent)))[-1]
        
    return print("Don't do it!!! You have a {} in {} chance of wining the big price with these {} tickets."
                 .format(value_comparison, tot_comparison, number_of_tickets))

In [294]:
multi_ticket_probability(13983816)
multi_ticket_probability(6991908)
multi_ticket_probability(1000000)
multi_ticket_probability(10000)
multi_ticket_probability(100)
multi_ticket_probability(10)
multi_ticket_probability(1)

Don't do it!!! You have a 1 in 1 chance of wining the big price with these 13983816 tickets.
Don't do it!!! You have a 5 in 10 chance of wining the big price with these 6991908 tickets.
Don't do it!!! You have a 7 in 100 chance of wining the big price with these 1000000 tickets.
Don't do it!!! You have a 7 in 10000 chance of wining the big price with these 10000 tickets.
Don't do it!!! You have a 7 in 1000000 chance of wining the big price with these 100 tickets.
Don't do it!!! You have a 7 in 10000000 chance of wining the big price with these 10 tickets.
Don't do it!!! You have a 7 in 100000000 chance of wining the big price with these 1 tickets.

In [252]:
combination(6,5)

6.0

In [318]:
def possibility_less_6(n):
    set_of_outcomes = combination(6, n)
    choose = 6 - n
    result = combination((43), choose) - 1
    set_of_outcomes *= result
    total_outcomes = combination(49,6)
    answer = set_of_outcomes/total_outcomes
    return answer

In [319]:
possibility_less_6(2)

0.13237695633294946

In [315]:
((combination(45,2) -1) * combination(6, 4))/combination(49, 6)

0.0010608692219634468

In [316]:
((combination(45,2) -1) * combination(6, 4))

14835.0

In [317]:
combination(49, 6)

13983816.0